<div class="container">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 text-center">
        	<h1><br />About<br /><br /></h1>
        	<%= image_tag "makerhoodmap.png", class: "img-responsive" %>
        	
        	<h3><br /><b>An initiative designed and led by the South Auckland community, in New Zealand, to develop a generation of creative, entrepreneurial, engaged and full of purpose people.</b><br />
        	<br />Tapping into two already existing projects <a href="http://oca.nz/" target="_blank">Oceania Career Academy</a> and <a href="http://theroots.org.nz/" target="_blank">The Roots</a>, #makerhood creates a platform for young South Aucklanders to leapfrog from unemployment and underpaid jobs to the most valuable skills in the world we are living in.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 text-center"><h2><br /><br /><b>The secret: Fusion</b></h2><br /></div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5 text-center"><h3 class="text-center">
        	<ul class="text-center">
        	    <li>Design + Trades</li>
        	    <li>Thinking + Doing</li>
        	    <li>Creativity + Practicality</li>
        	</ul>
        </h3></div>
        <div class="col-sm-offset-0 col-sm-5 text-center"><h3 class="text-center">
        <ul class="text-center">
        	    <li>Minds + Hands</li>
        	    <li>Immediate + Futuristic</li>
        	    <li>Low tech + High tech</li>
        	</ul>
        </h3></div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 text-center">
        	<h2><br /><br /><b>Links to get some inspiration</b><br />(maker and DIY tutorials)<br /></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-5"><h4 class="text-center">
        <ul class="text-center">
	        <li><a href="http://www.instructables.com/" target="_blank">Instructables</a></li>
	        <li><a href="https://www.thingiverse.com/" target="_blank">Thingiverse</a></li>
	        <li><a href="http://makezine.com/" target="_blank">Makezine</a></li>
	        <li><a href="http://makerfaire.com/" target="_blank">Maker Faire</a></li>
	        <li><a href="http://diydrones.com/" target="_blank">DIY Drones</a></li>
	        <li><a href="http://brit.co/" target="_blank">Brit.co</a></li>
	        <li><a href="https://www.ifixit.com/"  target="_blank">iFixit</a></li>
	        <li><a href="http://www.maorifuturemakers.com/" target="_blank">Maori Future Makers</a></li>
        </ul></h4>
        </div>
        <div class="col-sm-5 text-center"><h4 class="text-center">
        <ul class="text-center">
	        <li><a href="http://www.wikihouse.cc/" target="_blank">Wikihouse</a></li>
	        <li><a href="https://www.opendesk.cc/" target="_blank">Open Desk</a></li>
	        <li><a href="http://www.poc21.cc/" target="_blank">POC21</a></li>
	        <li><a href="http://bicycletutor.com/" target="_blank">BicycleTutor</a></li>
	        <li><a href="http://www.videojug.com/topic/permaculture"target="_blank">Permaculture&nbsp;Tutorials</a></li>
	        <li><a href="https://www.poppy-project.org/" target="_blank">Poppy Projects</a></li>
	        <li><a href="http://www.openrobothardware.org/" target="_blank">Open Robot Hardware</a></li>
        </ul></h4></div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 text-center"><h2><br /><br /><b>Contact</b><br /></h2>
        
         <h3>Oceania Academy -  info@oca.nz<br/>
        The Roots -  info@theroots.org<br /><br /></h3>
        <h4><br />This project was designed in January 2016 in a Mesa&amp;Cadeira for Auckland Council with the contributions of: Baruk Jacob, Barbara Soalheiro, Elizabeth Cretney, Gabriela Agustini, Gael Surgenot, Jaco van der Merwe, Joel Umali, John Belford-Lelaulu, John Kotoisuva, Joran Kikke, Livia Araujo, Lucas Tauil de Freitas, Rui Peng, Russell O’Brien, Sandra Chemin, Waikare Komene. Pictures and Video by: Simon Wilson.<br /><br /></h4></div>
    </div>
</div>