//= depend_on_asset "layers.png"
//= depend_on_asset "layers-2x.png"

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap
 *= require leaflet
 *= require jquery.minicolors
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

body {
	background-image: url(image-path('pattern_new.png'));
	background-size: 33.34%;
	/*background-color: #FCFADD;*/
	font-family: 'Catamaran'
}

.container-full {
  /*margin: 0 auto;
  width: 100%;*/
  padding: 0;
  
}

.container-fluid.no-padding {
	padding: 0;
}

.banner-image {
	width: 100%;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.3em; }
.css2 { font-size: 1.0em; }
.css3 { font-size: 1.6em; }
.css3 { font-size: 2.0em; }
.css4 { font-size: 2.0em; }

h1, h2, h3, h4, h5, h6, h7 {
	b, strong {
		font-weight: 900;
	}
}


	a {
		color: inherit;
		text-decoration: underline;
		font-weight: inherit;

		&.color-tag {
			
			color: #000;
			text-decoration: none;
			font-weight: bold;
		
			border-radius: 0.07142857142857em;
			padding: 0.07142857142857em 0.71428571428571em 0 0.71428571428571em;
			margin: 0em 0.35714285714286em 0.35714285714286em 0em;
			line-height: 2.07142857142857em;
			background: #eeeeee;
			color: #000 !important;
			display: inline-block;
			
			&.disabled {
				cursor: normal;
				background: inherit;
				
				
				   pointer-events: none;
				   cursor: default;
				
				
				&:active,
				&:focus,
				&:hover {
					text-decoration: none;
				}
				
			}

			&:active,
			&:focus,
			&:hover {
				text-decoration: none;
				color: #fff !important;
				background: #000 !important;
			}
			
			
		}
		
		
	}

	a:active,
	a:focus,
	a:hover {
		text-decoration: underline;
		color: #000;
	}

.sized-tag {
	display: inline-block;
}

#main_nav
{
  margin: 0;
  margin: 1em 0;
}

#map-container
{
  min-height: 35em
}

.navbar-static-top {
	background: none;
	font-weight:700;
	border: none;

	a {
		color: #000 !important;
		text-decoration: none;
		font-weight: inherit;
	}

	a:active,
	a:focus,
	a:hover {
		text-decoration: none;
		color: #000;
	}

}

.navbar {

	padding-top: 2em;
	margin: 0 !important;

	.nav  {
		text-align: right;
		float:right;

		li  {
			a {
				font-weight: 700;
				font-size: 1.4em;

				margin: 0;
				margin-left: 0.5em;
				padding:0;

				height: none !important;
			}
		}
	}

	.navbar-brand {
		padding: 0 !important;
		margin: 0 !important;
		font-size: 1.4em;
		font-weight: 700;
		height: 2.5em !important;
	}
}

.wookmark-row
{
  padding: 0 1.42857142857143em;
  margin-top: 2.85714285714286em;
}
.wookmarkable
{
}

.panel
{
  box-shadow: none;
  background: rgba(255, 255, 255, 0.3);

  .panel-body
  {
	
	.panel-media {
		position: relative;
		min-height: 2em;
		width: 100%;
		
		.panel-media-overlay {
			position: absolute;
			top:0;
			width: 100%;
		}
	}


	h4 {
		font-weight: 500;
		margin: 0.71428571428571em 0;
		colour: #999999;

  	a {
     	&.btn {
     		background: #ff94bb;
     		font-size: 0.5em !important;
     		padding: 12px 16px;
     		padding: 6px 8px 1px 8px;
     		border: none;

     		&:hover {
     				background: #00000 !important;
     			}

     		&.disabled {
     			background: #cccccc;
     			font-size: 0.5em !important;
     			padding: 12px 16px;
     			padding: 6px 8px 1px 8px;
     		}
     	}
     	&:hover {
     		background: #00000 !important;
     	}
  	}
     .hashtags {

     	clear:both;
     	margin-top: 1.47058823529412em;
     	font-size: 1.21428571428571em;
     	line-height: 1.76470588235294em;

     .hashtag {

     	line-height: 1.47058823529412em;
     	font-weight: 700;
     	background: #EEE;
     	display: inline-block;

     	a {
     		color: #000;
     		text-decoration: none;
     		font-weight: inherit;
     	}
     	a:active,
     	a:focus,
     	a:hover {
     		text-decoration: none;
     		color: #000;
     	}


     }

     .hashtag:hover {
     	background: #000;
     	display: inline-block;

     	a {
     		color: #fff !important;
     		text-decoration: none;
     		font-weight: inherit;
     	}
     	a:active,
     	a:focus,
     	a:hover {
     		text-decoration: none;
     		color: #fff !important;
     	}


     }

     }

     media {

       iframe {
         max-width: 100% !important;
       }
       


     }


    }




  }
}


  media {

    img {
      max-width: 100% !important;
    }

    iframe {
      max-width: 100% !important;
    }
    
    &.media-tag {
    			margin: 0em 0.35714285714286em 0.35714285714286em 0em;
    		}

  }




.tag
{
  padding: 0.3em;
  color: black;

  a
  {
    color: #7C8B78;
  }
}


.search-result-body
{
  text-overflow: ellipsis;
  max-height: 25em;
  overflow: hidden;
}

.person-icon
{
  color: #337ab7;
  font-size: 1.5em;
}



a {
     	&.btn {
     		background: #cccccc;
     		text-transform: none;
     		font-weight: 700;
     		border-radius: none;
     		margin:0;

     		&:hover {
     				background: #00000 !important;
     			}
     		&:active {
     				text-shadow: none;
     				box-shadow: none;
     				}

     		&.disabled {
     			background: #cccccc;
     		}
     		
     		&.btn-success{
     			border: none;
     			border-radius: 0;
     			background: none;
     			opacity: 1;
     		}
     		
     		&.vote {
     				
     				font-size: 1.42857142857143em;
     					padding: 0.5em;
     					background: none;
     					
     					
     					
     				&.vote-image, &vote-embed {
     					color: #ffffff;
     					float:right;
     				}
     				
     				&.vote-default {
     				  color: #cccccc;
     				  margin: 0 auto;
     				  float:none;
     				  padding:0;
     				}
     				
     				
     				
     				&.btn-success {
     					color: #ff94bb;
     				}
     				
     				&:hover {
     					color: #ff94bb;
     				}
     				
     				&.disabled {
     					color: #ff94bb;
     				}
     				
     			}
     			
     		&.story {
     					background: #dddddd;
     					color: #ffffff;
     					font-size: 1.21428571428571em;
     					text-decoration: none;
     					
     					i.fa {
     						font-size: 7.14285714285714em;
     					}
     					p {
     					}
     					
     					&.btn-success {
     						color: #ff94bb;
     					}
     					
     					&:hover {
     						background: #000000 !important;
     					}
     					
     				}
     				
     		&.close {
     			
     				font-size: inherit;
     				padding: 0.5em;
     				background: none;
     				color: inherit;
     				text-shadow:none;
     				
     				&:hover {
     					color: #000000;
     				}
     						
     		}
     			
     	}
     	&:hover {
     		background: #00000 !important;
     	}
  	}
  	
  	.square-box{
  	    position: relative;
  	    overflow: hidden;
  	    
  	    &:before{
  	    	    content: "";
  	    	    display: block;
  	    	    padding-top: 100%;
  	    }
  	    
  	    	.square-content{
  	    	    position:  absolute;
  	    	    top: 0;
  	    	    left: 0;
  	    	    bottom: 0;
  	    	    right: 0;
  	    	    
  	    	    div {
  	    	    	   display: table;
  	    	    	   width: 100%;
  	    	    	   height: 100%;
  	    	    }
  	    	    
  	    	    span {
  	    	    	    display: table-cell;
  	    	    	    text-align: center;
  	    	    	    vertical-align: middle;
  	    	    }
  	    	    a {
  	    	      	    display: table-cell;
  	    	      	    text-align: center;
  	    	      	    vertical-align: middle;
  	    	      }
  	    	}
  	    
  	}
  	
 ul {
 	padding:0; 
 	margin:0; 
 	
 	li {
 		list-style-type:none; 
 	}
 	
 }
 
 ul.tag-line-icons {
 	
 	li {
 		display:inline-block;
 		margin: 0 0.71428571428571em;
 		
 		h1,h2 {
 			margin:0;
 		}
 		
 		p {
 		  &.icon-caption {
 		  	font-size: 0.78571428571429em;
 		  	font-weight:500;
 		  }
 		}
 	}
 	
 }
 
 
 .color-row {
 		padding: 1.42857142857143em 0 4.28571428571429em 0;
 		background: #eeeeee;
 		
 		h1 {
 			margin-top: 0;
 		}
 }
 
 .pad-40 {
 		padding: 2.85714285714286em 0;
 }
 .pad-80 {
 		padding: 5.71428571428571em 0;
 }
 
 
 
 .disabled-color {
 	color: #dddddd;
 }
 
 .pagination {
 	padding: 1.42857142857143em;
 	text-align: center;
 	width: 100%;
 }
 
 .tag-description {
 	p {
 		
 	}
 	img {
 				max-width:100%;
 				margin: 1.42857142857143em 0; 
 			}
 }
 

